In [29]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [30]:
df = pd.read_csv('../../dados/dadosTransformados_v1.csv', sep=';')

In [31]:
df.shape

(960939, 53)

In [32]:
dados_alvo = df['peso']

In [33]:
dados_alvo = pd.DataFrame(data=dados_alvo, columns=['peso'])

In [34]:
dados_preditores = df.drop('peso', axis=1)

In [35]:
dados_preditores_labels = dados_preditores.columns.values.tolist()

In [36]:
dados_preditores[dados_preditores_labels] = MinMaxScaler().fit_transform(dados_preditores[dados_preditores_labels].values)

In [37]:
dados_preditores = pd.DataFrame(dados_preditores)

In [38]:
df = dados_preditores.join(dados_alvo)

In [39]:
df.head(5)

,tipificacao_1,tipificacao_2,tipificacao_3,maturidade,acabamento,classificacao_estabelecimento,outros_incentivos,pratica_recuperacao_pastagem,fertiirrigacao,ilp,...,cnt3m_cl_ituinst,cnt6m_cl_ituinst,cnt12m_cl_ituinst,ano,categoria,classificacao,longitude,latitude,mes,peso
0,1.0,0.0,0.0,0.0,0.5,0.555556,0.0,0.0,0.0,0.0,...,0.553459,0.53684,0.524656,0.0,0.0,1.0,0.519124,0.634566,0.090909,345.4
1,1.0,0.0,0.0,0.0,0.5,0.555556,0.0,0.0,0.0,0.0,...,0.553459,0.53684,0.524656,0.0,0.0,1.0,0.519124,0.634566,0.090909,268.8
2,1.0,0.0,0.0,0.0,0.5,0.555556,0.0,0.0,0.0,0.0,...,0.553459,0.53684,0.524656,0.0,0.0,1.0,0.519124,0.634566,0.090909,288.4
3,1.0,0.0,0.0,0.0,0.5,0.555556,0.0,0.0,0.0,0.0,...,0.553459,0.53684,0.524656,0.0,0.0,1.0,0.519124,0.634566,0.090909,357.2
4,1.0,0.0,0.0,0.0,0.5,0.555556,0.0,0.0,0.0,0.0,...,0.553459,0.53684,0.524656,0.0,0.0,1.0,0.519124,0.634566,0.090909,267.6

In [40]:
df.to_csv("dados_normalizados_mim_max.csv",sep=';', index = False)