In [26]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [27]:
df = pd.read_csv('../../dados/dadosTransformados_v1.csv', sep=';')

In [28]:
df.shape

(960939, 53)

In [29]:
dados_alvo = df['peso']

In [30]:
dados_alvo = pd.DataFrame(data=dados_alvo, columns=['peso'])

In [31]:
dados_preditores = df.drop('peso', axis=1)

In [32]:
dados_preditores_labels = dados_preditores.columns.values.tolist()

In [33]:
scaler = StandardScaler()

In [34]:
scaler.fit(dados_preditores)

StandardScaler()

In [35]:
dados_preditores = scaler.transform(dados_preditores)

In [36]:
dados_preditores = pd.DataFrame(dados_preditores)

In [37]:
dados_preditores.columns = dados_preditores_labels

In [38]:
df = dados_preditores.join(dados_alvo)

In [39]:
df.head(5)

,tipificacao_1,tipificacao_2,tipificacao_3,maturidade,acabamento,classificacao_estabelecimento,outros_incentivos,pratica_recuperacao_pastagem,fertiirrigacao,ilp,...,cnt3m_cl_ituinst,cnt6m_cl_ituinst,cnt12m_cl_ituinst,ano,categoria,classificacao,longitude,latitude,mes,peso
0,1.016788,-0.536569,-0.631005,-0.845479,0.590265,0.421532,-0.240294,-1.206994,-0.322802,-0.850991,...,-0.219926,-0.295344,-0.072351,-1.487166,-1.138717,0.436875,-0.104102,0.525202,-1.959673,345.4
1,1.016788,-0.536569,-0.631005,-0.845479,0.590265,0.421532,-0.240294,-1.206994,-0.322802,-0.850991,...,-0.219926,-0.295344,-0.072351,-1.487166,-1.138717,0.436875,-0.104102,0.525202,-1.959673,268.8
2,1.016788,-0.536569,-0.631005,-0.845479,0.590265,0.421532,-0.240294,-1.206994,-0.322802,-0.850991,...,-0.219926,-0.295344,-0.072351,-1.487166,-1.138717,0.436875,-0.104102,0.525202,-1.959673,288.4
3,1.016788,-0.536569,-0.631005,-0.845479,0.590265,0.421532,-0.240294,-1.206994,-0.322802,-0.850991,...,-0.219926,-0.295344,-0.072351,-1.487166,-1.138717,0.436875,-0.104102,0.525202,-1.959673,357.2
4,1.016788,-0.536569,-0.631005,-0.845479,0.590265,0.421532,-0.240294,-1.206994,-0.322802,-0.850991,...,-0.219926,-0.295344,-0.072351,-1.487166,-1.138717,0.436875,-0.104102,0.525202,-1.959673,267.6

In [40]:
df.shape

(960939, 53)

In [41]:
df.to_csv("dados_normalizados_scaler.csv",sep=';', index = False)