In [15]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('../../dados/dadosTransformados_v1.csv', sep=';')

In [4]:
dados_alvo = df['peso']

In [6]:
dados_alvo = pd.DataFrame(data=dados_alvo, columns=['peso'])

In [8]:
dados_preditores = df.drop('peso', axis=1)

In [11]:
dados_preditores_labels = dados_preditores.columns.values.tolist()

In [16]:
dados_preditores[dados_preditores_labels] = MinMaxScaler().fit_transform(dados_preditores[dados_preditores_labels].values)

In [17]:
dados_preditores.sample(5)

,tipificacao_1,tipificacao_2,tipificacao_3,maturidade,acabamento,classificacao_estabelecimento,outros_incentivos,pratica_recuperacao_pastagem,fertiirrigacao,ilp,...,cnt1m_cl_ituinst,cnt3m_cl_ituinst,cnt6m_cl_ituinst,cnt12m_cl_ituinst,ano,categoria,classificacao,longitude,latitude,mes
483825,0.0,1.0,0.0,0.714286,0.50,0.000000,0.0,1.0,0.0,1.0,...,1.000000,0.967578,0.783296,0.793018,1.0,1.0,0.0,0.490349,0.050235,0.454545
874074,1.0,0.0,0.0,0.000000,0.25,0.555556,0.0,0.0,0.0,0.0,...,0.206948,0.393732,0.558393,0.345964,1.0,0.2,1.0,0.909825,0.499025,0.909091
877194,1.0,0.0,0.0,0.000000,0.50,0.555556,0.0,1.0,0.0,1.0,...,0.572421,0.674691,0.794424,0.706592,1.0,0.0,1.0,0.403245,0.223820,0.909091
48062,1.0,0.0,0.0,0.000000,0.50,0.555556,0.0,1.0,1.0,0.0,...,0.893105,0.858599,0.805669,0.829224,0.0,0.0,1.0,0.566229,0.694805,0.545455
668620,0.0,1.0,0.0,0.142857,0.50,0.000000,0.0,0.0,0.0,0.0,...,0.724105,0.743440,0.660771,0.488191,1.0,0.2,1.0,0.461441,1.000000,0.727273

In [18]:
dados_preditores = pd.DataFrame(dados_preditores)

In [19]:
dados_preditores.sample(5)

,tipificacao_1,tipificacao_2,tipificacao_3,maturidade,acabamento,classificacao_estabelecimento,outros_incentivos,pratica_recuperacao_pastagem,fertiirrigacao,ilp,...,cnt1m_cl_ituinst,cnt3m_cl_ituinst,cnt6m_cl_ituinst,cnt12m_cl_ituinst,ano,categoria,classificacao,longitude,latitude,mes
274763,1.0,0.0,0.0,0.000000,0.25,1.000000,1.0,1.0,0.0,1.0,...,0.189097,0.245608,0.322479,0.274591,0.0,0.2,1.0,0.861776,0.427417,1.000000
448128,1.0,0.0,0.0,0.428571,0.25,0.000000,0.0,0.0,0.0,0.0,...,0.965473,0.743440,0.673539,0.764729,1.0,1.0,0.0,0.389444,0.137911,0.363636
931471,0.0,0.0,1.0,0.142857,0.50,1.000000,0.0,0.0,0.0,0.0,...,0.287333,0.292778,0.472180,0.352582,1.0,0.2,1.0,0.178904,0.535550,1.000000
596630,0.0,0.0,1.0,0.000000,0.25,0.555556,0.0,0.0,0.0,0.0,...,0.793159,0.731837,0.481551,0.290164,1.0,1.0,0.0,0.909825,0.499025,0.636364
510810,1.0,0.0,0.0,0.000000,0.50,0.555556,0.0,1.0,1.0,0.0,...,0.852592,0.651052,0.536371,0.616403,1.0,0.0,1.0,0.607701,0.552912,0.454545

In [20]:
df = dados_preditores.join(dados_alvo)

In [23]:
df.to_csv("dados_normalizados.csv",sep=';', index = False)